@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Poppins:ital,wght@0,400;0,500;0,600;0,800;1,700&family=Work+Sans:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}



/* nav section left and right */
.nav-container {
    padding: 37px 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

/* nav left part */
.nav-left {
    display: flex;
    align-items: center;
}

.nav-left-title {

    font-size: 2.8125rem;
    margin-left: 20px;
    font-weight: 700;
}

/* nav left G color Gradient */
.span-g {

    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* anchor button font color change  */
.anchor-buttons {
    text-decoration: none;
    color: #3C354F;
    font-size: 1.125rem;
}

/* nav right part */
.nav-right {
    display: flex;
    gap: 32px;
    align-items: center;
}

/* the icons inside the follow us button */
.follow-us-icon {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 24px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 18px 24px;
}

.picture-width {
    width: 100%;
}

/* completed nav bar ^^^^^ */

/* header section */
.header-container {
    display: flex;
    /* width: 100%; */
    align-items: center;
    justify-content: space-between;
}

.header-description {
    padding: 163px 240px;
    background: url("./images/Group14.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* border: 3px solid red; */
}

.header-picture {
    padding-right: 240px;
}

.header-title {
    color: #0B0223;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}

.goat-style {
    text-align: center;
    font-size: 5.9375rem;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 4px;
    padding-bottom: 24px;
}

.icon-details {
    color: #534C64;
    text-align: center;
    font-size: 1.33rem;
    font-weight: 500;
    text-transform: lowercase;
    display: flex;
    gap: 12px;
}

/* header description section complete without button */
/* header section button adding style */
.sign-in,
.Go-Rogue {
    color: #FFF;
    font-weight: 600;
    font-size: 1.25rem;
    border: none;
    display: inline-flex;
    padding: 21px 21px;
    align-items: flex-start;
    border-radius: 48px;
    margin-right: 24px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    text-transform: uppercase;
    margin-top: 24px;
    cursor: pointer;
    transition: 0.2s;
}

.sign-in:hover {
    background: #12ea16;
    color: #0B0223;
}

.Go-Rogue:hover {
    background: #28e361;
    color: #0B0223;

}

.Go-Rogue {

    background: #4EC5F7;

}

/* header section completed */


/* we are gamer section */

.we-are-gamer-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* justify-content: right; */
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    padding: 0px 240px;
}

.gamer-title {
    font-size: 3rem;
    padding-bottom: 24px;
    text-transform: uppercase;
    text-align: right;
}

.section-right-description {
    text-align: right;
    justify-content: right;
    width: 35%;
    color: #534C64;
    text-align: right;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 30px;
}

.purpose-box {
    margin-top: 24px;
    color: #534C64;
}

.our-purpose {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: right;
}

.purpose-description {
    font-size: 2rem;
    font-weight: 700;
    text-align: right;
    padding-top: 12px;
}

.section-btn {
    align-items: flex-start;
    text-align: right;
}

/* We are gamer section completed */

/* Online Games Funny Videos section */
.online-games-container {
    padding: 120px 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
}

.container-with-data {
    width: 100%;
}

.image {
    display: block;
    width: 102%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* height: 100%; */
    width: 100%;
    opacity: 0;
    /* transition: .3s ease; */
    background-color: rgba(100, 84, 84, 0.457);
}

.container:hover .overlay {
    opacity: 1;
    border: 8px solid rgb(255, 38, 0);
    border-radius: 25px;
}

.icon {
    color: rgba(16, 16, 16, 0.443);
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.games-watch-now {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 900;
    color: rgb(4, 255, 0);
}

.fa-user:hover {
    color: #665e5e;
}


/* picture flexing */
.online-games-picture {
    padding-top: 48px;
    display: flex;
    gap: 24px;
}


/* .play-button:hover .game-picture {

} */

.common-card:hover {
    opacity: 0.7;
    background-blend-mode: color-burn;
    border: 8px solid rgb(247, 45, 112);
    cursor: pointer;
    border-radius: 20px;
}

.centered-buttons {
    display: flex;
    flex-direction: column;
}

.play-button {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 50%;
    right: 40%;
    opacity: 0;
    align-items: center;
}

/* this is for play button text */
.play-buttons {
    width: max-content;
    position: absolute;
    top: 270px;
    right: 29%;
    opacity: 0;
    align-items: center;
    font-size: 2rem;
    font-weight: 900;
    /* background: linear-gradient(90deg, #0b0b0b 0%, #ed228b 100%); */
    background: #ff00fb;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* paragraph under box */
.box>p {
    width: 100%;
}

/* all game title style */
.game-title {
    color: #0B0223;
    text-align: right;
    font-size: 3rem;
    font-weight: 700;
}

.game-title>span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-weight: 700;
}

.game-titles {
    color: #534C64;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}

/* Play instant section */
.play-instant-picture {
    /* border: 2px solid black; */
    width: 100%;
    /* height: 100%; */
    height: 560px;
    background: url("./images/Rectangle55.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}

.play-instant-pictures {
    /* border: 2px solid black; */
    width: 100%;
    /* height: 100%; */
    height: 650px;
    background: url("./images/Rectangle67.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}

.play-instant-all-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
}

.play-instantly-container {
    display: flex;
    justify-content: space-between;
    padding: 50px 240px;
    gap: 265px;
}

.play-instantly-containers {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 50px 240px;
    gap: 265px;
}

.play-instant-title {
    text-align: right;
    font-size: 3rem;
    font-weight: 700;
}

.play-description {
    color: #534C64;
    text-align: right;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    margin-top: 24px;
}

.play-description-two {
    color: #534C64;
    text-align: right;
    font-size: 1.125rem;
    font-weight: 400;
    margin-top: 24px;
}

.two {
    text-align: left;
}

/* used for overlay picture */
.overlay-pic-size {
    /* display: flex;
    justify-content: ;
    align-items: center; */
    width: 50%;
    position: absolute;
    bottom: -70px;
    left: -70px;

}

.overlay-pic-sizes {
    /* display: flex;
    justify-content: ;
    align-items: center; */
    width: 50%;
    position: absolute;
    bottom: -50px;
    right: -90px;

}


.play {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
}


/* career section style */
.careers-container {
    margin-top: 30px;
    padding-top: 50px;
    padding-left: 240px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.career-title>h3 {
    color: #FFF;
    font-size: 3rem;
    font-weight: 700;
    line-height: 60px;
    padding-bottom: 24px;
}

/* for career description */
.career-description {
    width: 680px;
    color: #FFF;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 20px;
    padding-bottom: 32px;
}

.career-parts {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-part {
    color: #FFF;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    /* line-height: 40px; */
}

.right-part {
    color: #FFF;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    /* line-height: 40px; */
    text-align: right;
    padding-right: 20px;
}

/* for see all button */
.see-all-btn {
    margin-top: 61px;
    padding: 21px 40px;
    border-radius: 48px;
    background: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    color: #F948B2;
    cursor: pointer;
    transition: 0.3s;
}

.see-all-btn:hover {
    background: #12ea16;
    color: #0B0223;
}

/* all sponsor section style */
.boxes {
    align-items: center;
    /* border: 1px solid red; */
    border-radius: 50px;
    width: max-content;
    gap: 10px;
    padding: 10px 20PX;
    color: #0B0223;
    font-size: 1rem;
    font-weight: 600;
    display: inline-flex;
    cursor: pointer;
    /* flex-wrap: nowrap; */
}

.boxes:hover {
    border: 1px solid #FF42A5;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* .all-sponsors
{
    grid-area: ;
} */

/* all-sponsors section  */
.all-sponsors {
    padding: 120px 150px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    /* display: grid;
    grid-template-columns: repeat(5,1fr); */
    /* grid-template-columns: auto auto auto auto ; */
    /* grid-template-rows: repeat(2,1fr); */
    /* justify-content: space-evenly; */
    justify-items: center;
    /* align-content: space-evenly; */
    align-items: center;
    gap: 47px;
}

/* .box-span
{
    grid-column: 1/span 2;
} */



/* footer section */
footer {
    padding: 120px 240px;
    background: #0B0223;
}

.footer-logo-title,
.topic-data,
.logo-store {
    gap: 60px;
    padding-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* copyright section */
.copyright-footer {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/* Footer last line data */
.topic-data>li {
    color: #FFF;
    text-decoration: none;
    list-style: none;
}

/* G and Amer Different style */
.amer {
    color: #FFF;
    font-size: 2.8rem;
    font-weight: 700;
}






















/* .hide {
    display: none;
} */

/* for mobile devices used media query*/
@media screen and (max-width: 576px) {

    .nav-container,
    .nav-right,
    .online-games-picture {
        flex-direction: column;
        padding: 30px 30px;
    }

    .header-container,
    .we-are-gamer-section {
        flex-direction: column-reverse;
    }

    .sign-in,
    .Go-Rogue {
        padding: 10px 21px;
    }

    .icon-details {
        font-size: 1rem;
    }

    .header-description {
        align-items: center;
        justify-content: center;
        padding: 50px 30px;
    }

    .header-picture {
        padding-right: 0px;
        width: auto;
        display: flex;
        justify-content: center;
    }

    .we-are-gamer-section {
        flex-direction: column;
        padding: 0px 20px;
    }

    .online-games-container {

        padding: 50px 50px;
    }

    .game-title {
        text-align: center;
        margin-left: -50px;
        margin-right: -50px;
        padding-left: 30px;
        padding-bottom: 50px;
    }

    .game-titles {
        text-align: center;
    }

    .play-instantly-container,
    .play-instantly-containers {
        flex-direction: column;
        padding: 0px 0px;
        margin: 0px 70px;
        gap: 70px;
    }

    .play-instant-title,
    .play-description {
        text-align: center;
    }

    .play-description,
    .play-description-two {
        font-size: 1.125rem;
        text-align: center;
    }

    .play-instant-title,
    .play,
    .two {
        font-size: 2rem;
    }

    .overlay-pic-size {
        width: 40%;
        bottom: 250px;
        left: -50px;
        position: absolute;
    }

    .overlay-pic-sizes {
        position: absolute;
        width: 40%;
        right: -50px;
        bottom: 300px;
    }

    .play-instant-all-data {
        display: block;
        position: relative;
        padding-top: 50px;
        /* transform: translate(0px 400px); */
    }


    .section-right-description,
    .gamer-title,
    .purpose-description,
    .our-purpose {
        width: 100%;
        text-align: center;

    }

    .right-part {
        padding-right: 0px;
    }

    .purpose-description {
        margin-bottom: 50px;

    }

    .careers-container {
        /* display: none; */
        flex-direction: column;
        padding-left: 41px;
        padding-right: 41px;
        width: 80%;
        /* margin: auto; */
    }

    .see-all-btn {
        margin: 24px 0px 24px -10px;
        padding: 10px 20px;
    }

    .career-title-description {
        width: 100%;
    }

    .career-description {
        text-align: justify;
        width: 100%;
    }

    .boxes>img {
        width: 30%;
    }

    .boxes>p {
        font-size: 6px;
        /* font-weight: 900; */
    }

    .boxes {
        width: 100%;
        display: inline-flex;
    }

    .all-sponsors {
        padding: 0px 20px;
        display: grid;
        grid-template-columns: repeat(3, 0fr);
        justify-content: space-around;
        gap: 10px 0px;
    }

    footer {
        padding: 20px 20px;
        margin: 10px 10px;
    }

    .topic-data,
    .logo-store {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-row: inherit;
    }
}

@media screen and (min-width: 576.2px) and (max-width: 990px) {
    * {
        margin-right: 1px;
    }

    .nav-container,
    .nav-right {
        flex-direction: column;
        padding: 30px 30px;
    }

    .header-container,
    .we-are-gamer-section {
        flex-direction: column-reverse;
    }

    .header-description {
        align-items: center;
        justify-content: center;
        padding: 50px 50px;
    }

    .card,
    .card2,
    .card3,
    .card4 {
        background-repeat: no-repeat;
        background-size: cover;
        height: 450px;
    }

    .header-picture {
        padding-right: 0px;
        width: auto;
        display: flex;
        justify-content: center;
    }

    .we-are-gamer-section {
        flex-direction: column;
        padding: 0px 20px;
    }

    .online-games-container {
        padding: 120px 170px;
    }

    .online-games-picture {
        width: 150%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }
    .game-title {
        text-align: center;
        margin-left: -50px;
        margin-right: -50px;
        padding-left: 30px;
        padding-bottom: 50px;
    }

    .game-titles {
        text-align: center;
        /* margin-left: -70px; */
        /* margin-right: -70px; */
    }

    .play-instantly-container,
    .play-instantly-containers {
        flex-direction: column;
        padding: 0px 0px;
        margin: 0px 70px;
        gap: 70px;
    }

    .play-instant-title,
    .play-description {
        text-align: center;
    }

    .overlay-pic-size {
        width: 40%;
        bottom: 20px;
        left: -50px;
    }

    .play-description,
    .play-description-two {
        font-size: 1.125rem;
        text-align: center;
    }

    .overlay-pic-sizes {
        position: absolute;
        width: 40%;
        right: -50px;
        bottom: 150px;
    }

    .play-instant-all-data {
        display: block;
        position: relative;
        padding-top: 50px;
        transform: translate(0px 400px);
    }


    .section-right-description,
    .gamer-title,
    .purpose-description,
    .our-purpose {
        width: 100%;
        text-align: center;

    }

    .purpose-description {
        margin-bottom: 100px;
    }

    .careers-container {
        margin-top: 100px;
        flex-direction: column;
        padding-left: 40px;
        padding-right: 40px;
    }

    .see-all-btn {
        margin: 24px 0px 24px -10px;
        padding: 10px 20px;
    }

    .career-title-description {
        width: 100%;
    }

    .career-description {
        text-align: justify;
        width: 100%;
    }


    .boxes>img {
        width: 50%;
    }

    .boxes>p {
        font-size: 12px;
        /* font-weight: 900; */
    }

    .boxes {
        width: max-content;
        display: inline-flex;
    }

    .all-sponsors {
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: 10px;
        padding: 0px 10px;
        display: grid;
        grid-template-columns: repeat(3, 0fr);
        justify-content: space-around;
        gap: 10px 0px;
    }

    .footer-container {

        padding: 20px 40px;
        margin: 0px 0px;
    }
}